.slick-slider {
	display: flex !important;
	align-items: center !important;
}

.carousel__item {
	display: flex !important;
	background-color: coral;
	border-radius: 20px;
	flex-direction: column;
	margin-right: 20px;
	text-align: center;
}

.image {
	border-radius: 8px;
}
